<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./js/angular.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./_services/login-service.js"></script>
    <script src="./_services/registro-service.js"></script>
    <script src="./_controllers/home-controller.js"></script>
    <script src="./_controllers/login-controller.js"></script>
    <script src="./_controllers/registro-controller.js"></script>
    <script src="./_controllers/recuperarSenha-controller.js"></script>


    <link href="css/style.css" rel="stylesheet">

</head>
<body ng-controller="HomeController as HomeController">

    <div ng-controller="LoginController as LoginController" ng-if="$root.telaSelecionada === 'LOGIN'">
        <form ng-submit="LoginController.entrar(LoginController.usuario)">
            <label>Usuario:</label>
            <input type="email" ng-model="LoginController.usuario.email" ng-required="true"/>
            <label>Senha:</label>
            <input type="password" ng-model="LoginController.usuario.senha" ng-required="true"/>

            <button type="submit"> Entrar </button>

            <input type="button" ng-click="HomeController.abrirTelaRecuperarSenha()" value="Esqueci a senha">


            <input type="button" ng-click="HomeController.abrirTelaRegistro()" value="Registre-se">
        </form>
    </div>


    <div ng-controller="RecuperarSenhaController as RecuperarSenhaController" ng-if="$root.telaSelecionada === 'RECUPERAR_SENHA'">
        <form ng-submit="RecuperarSenhaController.recuperarSenha(LoginController.usuario.email)">
            <input type="text" value="email" ng-model="LoginController.usuario.email">
            <input type="submit" value="RecuperarSenha">

            <input type="button" value="voltar" ng-click="RecuperarSenhaController.voltar()">
        </form>
    </div>

    <div ng-if="$root.telaSelecionada === 'HOME'">
        Olá {{HomeController.service.usuario.email}}
    </div>

    <div ng-controller="RegistroController as RegistroController" ng-if="$root.telaSelecionada === 'REGISTRO'">
        <form ng-submit="RegistroController.registrar(RegistroController.pessoa)">
            <label>Nome: </label>
            <input type="text" ng-model="RegistroController.pessoa.nome">
            <label>CPF: </label>
            <input type="Number" ng-model="RegistroController.pessoa.cpf">
            <hr>
            <label>Agência:</label>
            <input type="text" ng-model="RegistroController.pessoa.agencia">

            <label>Conta:</label>
            <input type="text" ng-model="RegistroController.pessoa.conta">

            <label>Senha:</label>
            <input type="password" ng-model="RegistroController.pessoa.senha">

            <input type="submit" value="enviar">
        </form>
    </div>

</body>
</html>